.app-container[data-page-id=group-deploy-location-new]{
    .cont-row{
        align-items: flex-end;
    }
    .location-name-wrapper {
       
        display: flex;
        .deploy-group {
            width:250px;
            .el-select {
                width:100%;
            }
        }

        .deploy-group + .el-form-item{
            margin-left:2px;
        }

        .el-form-item {
            flex:1;
        }
    }
}

.add-member-dialog.group-deploy-location{
    .el-dialog__body {
        padding: 10px 20px;
    }
    
    .footer {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .el-card__header {
        padding: 10px;
    }
    
    .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .search {
            display: flex;
        }
        .search > * {
            display: block;
        }
    }
    
    .item-list-wrapper {
        display: flex;
        .el-card__header{
            padding: 10px 20px;
        }

        .new-selected-item-list-container {
            flex: 1;
        }
       
        .not-item-list-container {
            flex: 1;
        }
    
        .item-list {
            height: 200px;
            overflow: auto;
            padding: 0;
            .item-wrapper {
                
    
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #666;
                padding: 10px 0;
                border-bottom: #e3eaf0 1px solid;
                .item-contents {
                    i {
                        margin-right:5px;
                    }
                }
                .add-button {
                    padding: 5px 10px;
                    margin-left: 10px;
                }
                .remove-button {
                    margin-left: 10px;
                    color: rgba(113, 130, 140, 0.7);
                    font-size: 22px;
                    cursor: pointer;
                }
            }
        }
    }
}