[data-page-id=group-settings-openshift-new],
[data-page-id=group-settings-openshift-edit]{
    .rp-desc{
        margin-top: 12px;
        line-height: 1.5;
        font-size: 13px;
        strong{
            color: $--color-danger;
        }
    }
}