.app-container[data-page-id=group-docker-build-server-new],
.app-container[data-page-id=group-docker-build-server-edit]{
    
    .group {
        margin-top:40px;
        .sub-title {
            font-size: 16px;        
            span {
                font-size: 11pt;
                color: #aeaeae;
            }
        }
    }
}