.errPage-container[data-page-id=error-page]{   
    width: 800px;
    max-width: 100%;
    margin: 100px auto;
    .pan-back-btn {
        background: #008489;
        color: #fff;
        border: none!important;
    }
    .pan-gif {
        margin: 0 auto;
        display: block;
    }
    .pan-img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .text-jumbo {
        font-size: 60px;
        font-weight: 700;
        color: #484848;
    }
    .list-unstyled {
        font-size: 14px;
            li {
                padding-bottom: 5px;
            }
            a {
                color: #008489;
                text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
      
}

.wscn-http404-container[data-page-id=error-404]{
        transform: translate(-50%,-50%);
        position: absolute;
        top: 40%;
        left: 50%;
      
      .wscn-http404 {
        position: relative;
        width: 1200px;
        padding: 0 50px;
        overflow: hidden;
        .pic-404 {
          position: relative;
          float: left;
          width: 600px;
          overflow: hidden;
          &__parent {
            width: 100%;
          }
          &__child {
            position: absolute;
            &.left {
              width: 80px;
              top: 17px;
              left: 220px;
              opacity: 0;
              animation-name: cloudLeft;
              animation-duration: 2s;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              animation-delay: 1s;
            }
            &.mid {
              width: 46px;
              top: 10px;
              left: 420px;
              opacity: 0;
              animation-name: cloudMid;
              animation-duration: 2s;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              animation-delay: 1.2s;
            }
            &.right {
              width: 62px;
              top: 100px;
              left: 500px;
              opacity: 0;
              animation-name: cloudRight;
              animation-duration: 2s;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              animation-delay: 1s;
            }
            @keyframes cloudLeft {
              0% {
                top: 17px;
                left: 220px;
                opacity: 0;
              }
              20% {
                top: 33px;
                left: 188px;
                opacity: 1;
              }
              80% {
                top: 81px;
                left: 92px;
                opacity: 1;
              }
              100% {
                top: 97px;
                left: 60px;
                opacity: 0;
              }
            }
            @keyframes cloudMid {
              0% {
                top: 10px;
                left: 420px;
                opacity: 0;
              }
              20% {
                top: 40px;
                left: 360px;
                opacity: 1;
              }
              70% {
                top: 130px;
                left: 180px;
                opacity: 1;
              }
              100% {
                top: 160px;
                left: 120px;
                opacity: 0;
              }
            }
            @keyframes cloudRight {
              0% {
                top: 100px;
                left: 500px;
                opacity: 0;
              }
              20% {
                top: 120px;
                left: 460px;
                opacity: 1;
              }
              80% {
                top: 180px;
                left: 340px;
                opacity: 1;
              }
              100% {
                top: 200px;
                left: 300px;
                opacity: 0;
              }
            }
          }
        }
        .bullshit {
          .bullshit__info a{
            color: $--text-color-primary;
          }
          position: relative;
          float: left;
          width: 300px;
          padding: 30px 0;
          overflow: hidden;
          &__oops {
            font-size: 32px;
            font-weight: bold;
            line-height: 40px;
            color: $--error404-highlight-text-color;
            opacity: 0;
            margin-bottom: 20px;
            animation-name: slideUp;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
          }
          &__headline {
            font-size: 20px;
            line-height: 24px;
            color: #222;
            font-weight: bold;
            opacity: 0;
            margin-bottom: 10px;
            animation-name: slideUp;
            animation-duration: 0.5s;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;
          }
          &__info {
            font-size: 13px;
            line-height: 21px;
            color: grey;
            opacity: 0;
            margin-bottom: 30px;
            animation-name: slideUp;
            animation-duration: 0.5s;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
          }
          &__return-home {
            display: block;
            float: left;
            width: 110px;
            height: 36px;
            background: $--error404-highlight-text-color;
            border-radius: 100px;
            text-align: center;
            color: #ffffff;
            opacity: 0;
            font-size: 14px;
            line-height: 36px;
            cursor: pointer;
            animation-name: slideUp;
            animation-duration: 0.5s;
            animation-delay: 0.3s;
            animation-fill-mode: forwards;
          }
          @keyframes slideUp {
            0% {
              transform: translateY(60px);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
    }
}

[data-page-id=error-401]{
    .link-type,
    .link-type:focus {
        color: #337ab7;
        cursor: pointer;

        &:hover {
            color: rgb(32, 160, 255);
        }
    }

    .errPage-container {
        width: 800px;
        max-width: 100%;
        margin: 100px auto;
        .pan-back-btn {
            background: #008489;
            color: #fff;
            border: none!important;
        }
        .pan-gif {
            margin: 0 auto;
            display: block;
        }
        .pan-img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        .text-jumbo {
            font-size: 60px;
            font-weight: 700;
            color: #484848;
        }
        .list-unstyled {
            font-size: 14px;
            li {
                padding-bottom: 5px;
            }
            
            a {
                color: #008489;
                text-decoration: none;
                &:hover {
                text-decoration: underline;
                }
            }
        }
    }
}