
.navbar[data-comp-id=navbar]{
    background:#000935 url(/images/header_bg.png) no-repeat 0 0;
    height: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .hamburger-container {
        line-height: 46px;
        height: 100%;
        float: left;
        cursor: pointer;
        transition: background 0.3s;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            background: rgba(0, 0, 0, 0.025);
        }
    }

    .breadcrumb-container {
        float: left;
    }

    .errLog-container {
        display: inline-block;
        vertical-align: top;
    }

    .right-menu {
        display: flex;
        align-items: center;
        float: right;
        height: 100%;
        line-height: 50px;
        margin-right:15px;
        &:focus {
            outline: none;
        }

        .language-select{width: 120px;margin-left: 8px;}

        .right-menu-item {
            display: inline-block;
            padding: 0 8px;
            height: 100%;
            font-size: 18px;               
            color:$headerRightIconColor;
            vertical-align: text-bottom;

            &.hover-effect {
                cursor: pointer;
                transition: background 0.3s;

                &:hover {
                    background: rgba(0, 0, 0, 0.025);
                }
            }
        }

    }
}


.el-popper.noti-popover{
	padding:0;
	h3{padding: 8px 20px;border-bottom:1px solid #ddd}

	.noti-link {
		display: block;
		padding: 10px;
		text-align: center;
		cursor: pointer;
		color: #333;
		font-weight: bold;
		font-size:14px;
		background: #efefef;
		&:hover{text-decoration: underline;}
	}

	.noti-nodata{
		text-align: center;
		padding: 20px;
	}

	.noti-cont {		
		max-height: 360px; overflow: auto;
		li{
			display: flex;
			&:not(:first-child){
				border-top:1px solid #ddd
			};
			padding: 8px 0px;				
			.txt-wrap{
				cursor: pointer;
				flex:1; padding: 0 12px 0 20px;
				>span{display: block;}
			}
			.txt-wrap:hover{text-decoration: underline;}
			.confirm-ico{
				cursor: pointer;
				color:$--link-text-color;
				width:50px; display: flex; align-items:center; justify-content: center; font-size: 24px;}
		}
	}
}