//layout
.app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%; 

    &.mobile.openSidebar {
        position: fixed;
        top: 0;
    }

    &.mobile.fixed-header {
        width: 100%;
    }

    &.hideSidebar .fixed-header {
        width: calc(100% - 54px);
    }

    .app-main {
        
        /* 50= navbar  50  */
        min-height: calc(100vh - 50px);
        width: 100%;
        position: relative;
        overflow: auto;
        background-color:#dfdfdf;
        padding:20px;

        /*3depth page tabs */
        >.el-tabs{
            .el-tabs__item{
                font-weight: bold;
            }
        }


        .el-popup-parent--hidden {
            .fixed-header {
                padding-right: 15px;
            }
        }
    }
      
    .fixed-header+.app-main {
        padding-top: 50px;
    }

    .drawer-bg {
        background: #000;
        opacity: 0.3;
        width: 100%;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 999;
    }

    .fixed-header {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
        width: calc(100% - #{$sideBarWidth});
        transition: width 0.28s;
    }
}



// breadcrumb
.app-breadcrumb[data-comp-id=breadcrumb]{
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    margin-left: 8px;

    .no-redirect {
        color:$headerBreadcrumbCurrentColor;
        cursor: text;
    }
    .el-breadcrumb__item {
        a {
            font-weight: 700 !important;
            color: $headerBreadcrumbColor;
        }
    }
}



//hamburger(deploy리스트에도 사용됨)
.hamburger-container[data-comp-id=hamburger]{
    padding: 0 15px;  
    .hamburger {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }

    .hamburger.is-checked {
        transform: rotate(180deg);
    }

}

//상단 nav에 들어가는 아이콘에만 컬러적용
[data-comp-id=navbar]{
    .hamburger-container[data-comp-id=hamburger]{
        svg{
            fill: $headerHamburgerIconColor;
        }
    }
}

//pagination
.pagination-container[data-comp-id=pagination]{   
    margin-top: 30px;
    background: #fff;  
    &.pagination-container.hidden {
        display: none;
    }
}   