html, body{height: 100%;margin:0;padding:0;font-size:14px;}
.ellips {display: inline-block; text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
[data-app-id=state-machine] li{list-style: none;}
[data-app-id=state-machine] *{margin:0; padding:0;-webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: transparent;}

[data-app-id=state-machine] button.mini{padding:4px 10px 5px 10px; font-size: 11px; border-radius: 3px;}
[data-app-id=state-machine] button.small{padding:6px 14px 6px 14px; font-size: 13px; border-radius: 4px;}
[data-app-id=state-machine] button{background:#fff; border: 1px solid #dcdfe6;color: #606266; padding: 10px 20px; font-size: 14px; border-radius: 4px; outline:none; cursor: pointer;-webkit-appearance: none;}
[data-app-id=state-machine] button:hover{background: #fff; border-color: #1371b9; color: #1371b9;}
[data-app-id=state-machine] button.primary{color: #fff; background-color: #1371b9; border-color: #1371b9;}
[data-app-id=state-machine] button.primary:hover{background: #428dc7; border-color: #428dc7; color: #fff;}

[data-app-id=state-machine] button.secondary{color: #fff; background-color: #364a63; border-color: #364a63;}
[data-app-id=state-machine] button.secondary:hover{color: #fff; background-color: #29384a; border-color: #243142;}
[data-app-id=state-machine] button.disabled{color: #fff; background-color: #cccccc; border-color: #cccccc;}
[data-app-id=state-machine] button.disabled:hover{color: #fff; background-color: #cccccc; border-color: #cccccc;}


[data-app-id=state-machine] .search-field{position: relative;display: block; margin-bottom: 8px;}
[data-app-id=state-machine] .search-field>input{
    width: 100%;
    height: 36px;
    padding: 0 50px 0 20px;
    border: 1px solid #dcdfe6;
    border-radius: 18px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    outline: none;
}


[data-app-id=state-machine] .search-field::after{
    content:'';
    display: inline-block;
    position: absolute;
    top:3px;
    right:6px;
    width: 30px;
    height: 30px;
    background: url(/assets/images/ico_search.png) no-repeat;
    background-size: 30px;
}

[data-app-id=state-machine] .search-field.small>input{height: 30px;padding: 0 34px 0 16px; font-size: 13px;}
[data-app-id=state-machine] .search-field.small::after{top: 1px; width: 26px; height: 26px; background-size: 27px;}

[data-app-id=state-machine] input,
[data-app-id=state-machine] textarea{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: 14px;
    outline: none;
    padding: 0 14px;
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

[data-app-id=state-machine] input{ height: 30px;line-height: 30px;}
[data-app-id=state-machine] input.disabled{ background-color:#ddd;}

[data-app-id=state-machine] input::placeholder,
[data-app-id=state-machine] select::placeholder{color: #ccc;}
[data-app-id=state-machine] input+input,
[data-app-id=state-machine] input+button,
[data-app-id=state-machine] button+button,
[data-app-id=state-machine] select+button,
[data-app-id=state-machine] button+button{margin-left:4px !important}
[data-app-id=state-machine] .no-data{display: flex; align-items: center; justify-content: center; width:100%; height: 100%; color: #999;}

[data-app-id=state-machine] select{
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    background-color: #fff;
    color: #606266;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    outline: none;
    text-indent: 4px;;
}



.hidden {display: none;}
.fade-leave-active {transition: opacity .5s;}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}




.form-group{padding: 18px 0 0 0;}
.form-group+.form-group{border-top: 2px solid #cecece;}
.form-item{margin-bottom: 14px;}
.form-item label{display:block;font-weight:bold; font-size: 14px; color:#1371b9; margin-bottom: 6px;}
.form-item label.required::before{content: "*"; color: #f56c6c; margin-right: 4px;}
.form-item input, .form-item select, .form-item textarea{width:100%;}
.form-item>div{display:flex;}
.form-group .top-ui{display: flex; justify-content: space-between; margin-bottom: 8px;}
.form-group .top-ui .div-tit{font-size: 16px; font-weight: bold;}
.form-group .code-select-wrap{display: flex;}
.form-group .code-select-wrap+.code-select-wrap{margin-top: 6px;}
.form-group .code-select-wrap select{flex:1;}
.form-group .add-action-btn{width: 100%;}


