[data-comp-id=state-flow-app]{display: flex;flex-direction: column;color:#454545;font-family: "Nanum Gothic", "Malgun Gothic", "Dotum","돋움","Helvetica","Apple SD Gothic Neo","sans-serif";background-color: #f5f6fa;height: 100%;}
[data-comp-id=state-flow-app]>header{display: flex;justify-content: center; padding: 10px 20px; background-color: rgba(255,255,255,0.95);box-shadow: 0 2px 6px rgba(31,43,58,0.08);}
[data-comp-id=state-flow-app] .state-flow-wrap{display: flex;flex: 1;overflow: auto; display: flex; padding: 14px 20px;}
[data-comp-id=state-flow-app] #flowList{width: 300px;display:flex; flex-direction: column; margin-right: 12px;}
[data-comp-id=state-flow-app] .new-flow-btn{width: 100%; padding: 14px 20px; margin: 0 0 20px 0; font-size: 18px;}
[data-comp-id=state-flow-app] .flow-list-wrap{flex:1;background: #fff; border: 1px solid #dcdfe6;overflow: auto; border-radius: 4px;overflow:auto;}
[data-comp-id=state-flow-app] .flow-list-wrap ul li{display: flex;justify-content: space-between; align-items: center; padding: 9px 14px; font-size: 14px;border-bottom: 1px solid #dcdfe6;}
[data-comp-id=state-flow-app] .flow-list-wrap ul li:hover{background-color: rgb(233,233,233); cursor: pointer;}
[data-comp-id=state-flow-app] .flow-list-wrap ul li:hover button{display:block;}
[data-comp-id=state-flow-app] .flow-list-wrap ul li.active{background-color: rgb(211,211,211); cursor: pointer;}
[data-comp-id=state-flow-app] .flow-list-wrap ul li.active button{display:block;}
[data-comp-id=state-flow-app] .flow-list-wrap ul li div{padding:6px 0px; font-size: 11px;}
[data-comp-id=state-flow-app]>header>div{max-width: 1140px;width: 100%;display: flex; justify-content: space-between;}
[data-comp-id=state-flow-app]>header h1{margin:0;font-size: 28px;}

.flow-info-wrap{overflow: hidden;flex:1; padding: 18px 24px; background-color: rgba(255,255,255,0.95); box-shadow: 0 2px 6px 0 rgba(31,43,58,0.08); min-height:600px;}
.flow-info-wrap>header{display:flex; justify-content: space-between;}
.flow-info-wrap>header>.tit{display: flex;flex: 1;align-items: center;}
.flow-info-wrap>header>.tit h2{font-size: 22px;}
.flow-info-wrap>header>.tit input{margin-left: 6px; width: 300px;}

.flow-info-wrap .created{margin-top: 20px; color: #888;}

.draw-state{display: flex; align-items: flex-start; overflow-x: auto; margin-top: 80px; min-height: 320px;padding: 0 24px;}
.draw-state ol *{box-sizing: border-box;}
.draw-state ol{display:flex; align-items: center;margin-top: 14px;}
.draw-state ol li{position:relative; height: 120px; display: flex; align-items: center;}
.draw-state ol li .symbol{position: relative;text-align: center; display: flex; align-items: center; justify-content: center; cursor: pointer; user-select:none;}
.draw-state ol li .label{padding: 10px;font-weight: bold;word-break: break-word;color: #888;}
.draw-state ol li.item-default .symbol{width: 100px; height: 100px; background: #F1F5FF; border-radius: 50px;}
.draw-state ol li+li{margin-left: 70px;}
.item-conditional{width: 138px; height: 138px; display: flex; align-items: center; justify-content: center;}
.item-conditional .symbol{width: 120px; height: 120px;}
.item-conditional .bg{display:block;position:absolute; top:10px; left:10px; background: #d5c3fd;width: 100px; height: 100px;transform: rotate(45deg); border-radius: 4px;}
.item-conditional .label{display:flex; align-items:center; justify-content: center; color: #454545; width: 120px; height: 120px;position:absolute; top:0; left:0;}
.item-conditional .symbol::after{content:'Reject'; display:flex; height: 80px; width: 80px; align-items: center; justify-content: center; color:#454545; background-color: #FFF5F8; border-radius: 40px; position: absolute; top: 167px;}

.item-general .symbol{width: 110px; height: 110px; background-color: #F1F5FF; color: #fff; border-radius: 4px;}
.item-conditional .bg,.item-general .symbol, .item-default .symbol{border: 4px dashed transparent;}
.item-conditional:hover .bg,.item-conditional.active .bg{border-color:#0dcaf0;}
.item-general:hover .symbol, .item-default:hover .symbol{border-color:#0dcaf0;}
.item-general.active .symbol, .item-default.active .symbol{border-color:#0dcaf0;}



.draw-state ol li .arrow-right,
.draw-state ol li .arrow-bottom{ display: block;margin: 30px auto; width: 18px;height: 18px;border-top: 2px solid #545963;border-left: 2px solid #545963;transform: rotate(135deg);}
.draw-state ol li .arrow-right::after,
.draw-state ol li .arrow-bottom::after{ content: ""; display: block; width: 2px; height: 66px; background-color: #545963;transform: rotate(-45deg) translate(22px, 9px); left: 0; top: 0;}
.draw-state ol li .arrow-bottom::after{ height:36px;transform: rotate(-45deg) translate(12px, 4px);}
.draw-state ol li .arrow-wrap{position: absolute;right: -66px;  top: 20px}
/*.draw-state ol li.item-default .arrow-wrap{right: -66px;  top: 10px;}
.draw-state ol li.item-conditional .arrow-wrap{right: -66px;  top: 29px;}
.draw-state ol li.item-general .arrow-wrap{right: -66px;  top: 16px;}
*/

.flow-info-wrap.view .draw-state{margin-top: 0px; min-height: 240px;}
.flow-info-wrap.view{box-shadow: none; min-height:0px;}
.flow-info-wrap.view .item-conditional .symbol::after{display: none;}
.flow-info-wrap.view .info-txt{position: absolute;top: 146px;min-width: 120px;  text-align: center;  line-height: 1.5;  font-size: 13px;}

.draw-state ol li.item-conditional .arrow-bottom{position: absolute;bottom: -60px;left: 104px;transform: rotate(180deg);}


.state-modal{position: fixed;display: flex; flex-direction: column; align-items: flex-end; top: 0; right: 0; bottom: 0; left: 0;pointer-events: all;}
.state-modal .modal-bg{background-color: rgba(0,0,0,.22); position: absolute;pointer-events: all;top: 0;right: 0; bottom: 0;left: 0; z-index: 1002;}
.state-modal .modal-panel{background-color: #fff;position: relative; z-index: 1003; overflow:hidden;display:flex;flex-direction: column;flex: 1; width: 360px; margin: 16px; border-radius: 6px;}
.state-modal .modal-panel header{padding: 16px 20px; display:flex; align-items: center; justify-content: space-between;}
.state-modal .modal-panel header h2{font-size: 18px;}
.state-modal .modal-panel .panel-cont-wrap{padding: 10px 20px 20px 20px;flex: 1; flex-direction: column; overflow: auto; max-height: calc(100% - 92px);}
.state-modal .modal-panel .panel-cont-wrap .btn-box{display:flex;}
.state-modal .modal-panel .panel-cont-wrap .btn-box button{flex:1;}

