//deploy list, build list
.app-container[data-page-id=project-build-list],
.app-container[data-page-id=project-deploy-list]{
    .deploy-list, .build-list{
        display: -webkit-box;
        //display:flex;
        flex:1;
        position: relative;
        overflow:hidden;
        .build-sidebar,
        .deploy-sidebar{
            margin-top:10px;
        }

        .deploy-history-wrapper,
        .build-history-wrapper {
            flex: 1;
            margin-top:10px;
            margin-left:10px;
        }
    }

    .slide-enter-active,
    .slide-leave-active,
    .left-slide-enter-active,
    .left-slide-leave-active {
        transition: all 0.3s;
    }

    .slide-enter,
    .left-slide-enter {
        width: 0;
    }

    .slide-enter-to,
    .left-slide-enter-to {
        width: 300px;
    }

    .slide-leave-to,
    .left-slide-leave-to {
        width: 0;
    }
    ///////////////////////////////////

    ///////////////////////////////////
    .right-left-slide-enter-active,
    .right-left-slide-leave-active,
    .right-slide-enter-active,
    .right-slide-leave-active {
        transition: all 0.3s;
    }
    .right-slide-enter {
        right: -300px;
    }

    .right-slide-enter-to {
        right: 0;
    }

    .right-slide-leave-to {
        right: -300px;
    }

    .no-data-panel {

        .content {
            flex: 1;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 16px;
            height: 300px;
            border: 1px dashed #cccccc;
            color: #333333;
            margin-top: 35px;

            h3 {
                margin-bottom:10px;
            }
            h3+h5 {
                margin: 10px 0 20px 0;
            }
            > div {
                text-align: center;
            }

        }
    }
    
}

//build new, build edit
.app-container[data-page-id=project-build-new],
.app-container[data-page-id=project-build-edit]{
    display: flex;
    flex-direction: column;

    .docker-build {
        margin-top:20px;
    }
}

///deploy new, deploy edit
.app-container[data-page-id=project-deploy-new],
.app-container[data-page-id=project-deploy-edit]{
    display: flex;
    flex-direction: column;

    footer {
        margin-top: auto;
        height: 80px;
        text-align: right;
    }
}

//build history list, deploy history list
[data-comp-id=project-build-history],
[data-comp-id=project-deploy-history]{
    .hamburger-container {
        padding:0 !important;
        height: 100%;
        margin-right:10px;
        display:block;
        cursor: pointer;
        transition: background .3s;
        -webkit-tap-highlight-color:transparent;

        &:hover {
        background: rgba(0, 0, 0, .025)
        }
    }

    .header {
        display:flex;
        align-items: center;
        margin-bottom:10px;
        .title {
            font-size: 22px;
            color: $--text-color-primary;
            padding-bottom: 5px;
            font-weight: 800;
        }
    }

   .actions {
        display:flex;
        * + * {
            margin-left:5px;
        }

        .link-action {
            i{
                font-size: 30px;
                color: rgba(113, 130, 140, 0.7);
                margin: 0 5px;
                width:30px;
                height:30px;
                cursor:pointer;
            }
        }
    }

    .description {
        color:#aeaeae;
        >*{
            margin:0;
        }
        .created {
            color:#aeaeae;
        }

        margin-bottom:30px;
        strong {
            color:#333333;

        }
    }

    .sub-header h3 {
        font-size: 18px;
        color: #000000;
        padding-bottom: 5px;
        font-weight: 800;
        margin: 0;
        padding: 0;
    }

    .history-list-wrapper {
        margin-top:20px;
    }

    .el-table .link-build-row,
    .el-table .link-deploy-row{
        cursor:pointer !important;
    }
}

[data-comp-id=project-deploy-sidebar]{
    .el-menu-item{
        >i{
            display: inline-block;
            width: 20px;
            height:20px;
            background-size: 20px;
            background-position: 0;	
            &.docker{
                background-image: url("/images/icons/deploy/docker.png");
            }
            
            &.azure{
                background-image: url("/images/icons/deploy/azure.png");
            }

            &.kubernetes{
                background-image: url("/images/icons/deploy/kubernetes.png");
            }

            &.openshift{
                background-image: url("/images/icons/deploy/openshift.png");
            }

            &.bm{
                background-image: url("/images/icons/deploy/bm.png");
            }
        }
    }
}
//build sidebar, deploy sidebar
[data-comp-id=project-build-sidebar],
[data-comp-id=project-deploy-sidebar]{   
    overflow:hidden;
    position:relative;
    width:300px;
    border-right:1px solid #eeeeee;
    
    .menu-actions, .menu-contents {
        width:300px;
        padding-right:10px;
    }

    .menu-actions{
        .new-build-button {
            width: 100%;
            height: 50px;
            font-size: 20px;
            display:block;                
        }
    }

    .menu-contents {
        margin-top:10px;
        .list-title {        
            font-size: 16px;
            font-weight: 700;
            margin-bottom:5px;
        }
        .search-wrapper {
            margin-bottom:5px;
        }
    }
     
     .el-menu {
         margin-top:13px;
         border-right:none;
         width: 100%;
         height: 854px;
         overflow: auto;
        .el-menu-item  {
            &.is-active {
                background-color:#eaf0f7; 
            }
        }
     }
}


[data-comp-id=project-run-build-modal]{
    .footer{
        text-align: right;
    }
}