
@import "@/styles/common/variables.scss";
[data-page-id=login]{
    .wrap {position:relative;width:100%;height:100%;}   
    /*적용css*/
    .login-wrap {display:table;position:absolute;top:50%;left:50%;width:1122px;height:530px;background:url(/images/login_bg.png) no-repeat right 0;transform:translate(-50%, -50%);}
    .login-wrap .login-sec {display:table-cell;width:470px;vertical-align:middle;}
    .login-wrap .login-header .txt {color:#20324e;padding-bottom:15px;font-size:26px;}
    .login-wrap .login-header .txt > strong {display:inline-block;margin-right:5px;font-weight:800;}
    .login-wrap .login-container {position:relative;}
    .login-wrap .login-container:before {content:'';display:block;position:absolute;top:-2px;left:-1px;width:470px;height:2px;background-color:#000b1d;}
    .login-wrap .login-container {width:470px;border:1px #b9bfd0 solid;border-top:0;padding:60px 80px;}
    .login-wrap .login-container .form {margin-top:20px;}
    .login-wrap .login-container .form:first-child {margin-top:0;}
    .btn-wrap button{width:100%;height:36px;background-color:#1d3e74;margin-top:20px;color:#fff;text-align:center;border-radius:0; border:none;}
    .btn-wrap button:hover, .btn-wrap button:focus{background-color:#1d3e74;}

    .el-form-item *{border-radius: 0;}
    .info-txt{
        font-size: 13px;
        line-height: 1.5;
    }

    .title-container {
        &+div{
            margin-bottom: 30px;
        }

        h1.title {                   
            color:#1d3e74;
            border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
        }
    }


    .language-select{
        float: right; margin: 14px; width: 140px;
    }
    .login-form {
        position: relative;
        width: 520px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;

        .el-form-item {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 15px;
            margin-bottom: 24px;
        }
    }


    [data-comp-id=login-success-form]{
        .install-form .el-form-item{
            margin-bottom: 0;
        }
    }
}

/*$cursor: #fff;
@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .login-container .el-input input {
        color: $cursor;
    }
}
.login-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .header {
        h2{line-height:0;}
        height: 65px;
        background-color: $--color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        >>> .el-select {
            width: 120px;
        }
    }

    .cont-wrap {
        .el-form-item__error {color: $--login-form-valid-error-color;}
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    main.body {
        display: flex;
        align-items: center;
        justify-content: center;

        > .body-container {           
            width: 350px;
            margin: 80px 0;

            .title-container {
                position: relative;

                h1.title {
                    text-align: center;
                    padding-bottom: 9px;
                    font-size: 19px;
                    color: $--login-title-color;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }

            .login-form {
                position: relative;
                width: 520px;
                max-width: 100%;
                margin: 0 auto;
                overflow: hidden;

                .el-form-item {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    margin-bottom: 15px;
                    margin-bottom: 24px;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        font-size: 12px;
        color:$--login-footer-text-color;
        background: transparent;
        border-top-width: 0px;
        margin-bottom: 15px;
        padding: 30px 0 20px 0;
    }

    .app-bg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url(/images/login-bg.jpg) no-repeat 50% 50%;
        background-size: cover;
        z-index: -1;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #000;
            opacity: 0.6;
            z-index: 1;
        }
    }
}

*/

/**********************
 * login layout을 공유하여 사용하고 일부만 override, add하여 사용
 * (reset password, 초기 install시, install 성공시 화면에 적용)
***********************/
/*
.login-container{
    main.body {           
        > .body-container.install-container{
            .el-form-item__error {color: $--color-danger;}
            background-color: rgba(255, 255, 255, 0.85);
            width: 400px;
            padding: 30px 30px 20px 30px;
            border-radius: 6px;
            margin: 30px 0 20px 0;

            .info-txt{
                font-size: 13px;
                line-height: 1.5;
            }

            .title-container {
                &+div{
                    margin-bottom: 30px;
                }

                h1.title {                   
                    color: #000000;
                    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
                }
            }

            .install-form {
                position: relative;
                width: 520px;
                max-width: 100%;
                margin: 0 auto;
                overflow: hidden;

                .el-form-item {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    color: #454545;
                }
            }

            //validation text항목이 없으므로 margin삭제 
            &[data-comp-id=login-success-form]{
                .install-form .el-form-item{
                    margin-bottom: 0;
                }
            }
        }
    }
}*/