
table[data-comp-id=authority-table]{     
    border: 1px solid #cccccc;
    width:100%;
    border-collapse: collapse;
    color:#666;
    thead {
        .header {
            height:55px;
            background-color:#f0f6f8;
        }
        .group-name {
            text-align: left;
            padding-left:10px;
        }

    }

    tbody {
        tr {
            height:50px;
            border:1px solid #cccccc;
        }
        .group-name {
            text-align: center;
                width:150px;
        }

    }

    .text-center {
            text-align:center;
    }
    
}