

//modelder component style
//editor
.editor-document{
    .labelGroup {
        cursor:pointer;
        position:absolute;
        user-select: none;

        > .label{
            width:100%;
            height:100%;
            margin:0;
            padding:0;
            display:flex;
            .txt{
                padding: 14px 20px;
                font-weight:bold;
            }
        }
    }

    .remoteHost{
        .comp-wrap{width: 100%; height: 100%;padding: 14px 20px;}
        min-width:150px;
        min-height:100px;
        cursor:pointer;
        position:absolute;
        display:flex;
        flex-direction: column;
        .label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            padding-bottom: 10px;
            .txt{
                display: block;
                width: 100%;
                height: 100%;
                text-align: left;
                svg{margin-right: 2px;}
            }
        }

        ul {
            list-style-type: none;
            margin:0;
            padding:0;


            ///project            
            li.deploy+li.deploy{margin-top: 4px;}
            li.deploy {
                .deplay-btn{opacity: 0.3;} 
                .fa-circle{opacity: 0.5;}

                display:flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 16px;
                overflow:hidden;
                user-select: none;
                position: relative;

                .left-cont{
                    display: flex;
                    align-items: center;
                    >span{
                    color:#c5bfb4;
                    margin-right:6px;
                    }
                }

                &.active:after {
                    content:'';
                    display:block;
                    width:100%;
                    height:100%;
                    position: absolute;
                    top:0;
                    left:0;
                    //background-color: #ffff00 !important;
                    //color: black !important;
                    border: 2px dashed #8eff56;
                    box-sizing: border-box;
                }

                &.before-over {
                    &:before {
                        content: " ";
                        position: absolute;
                        top: -3px;
                        left:0;
                        display: block;
                        height: 2px;
                        width: 100%;
                        background: #8eff56;
                    }
                }
                &.after-over {
                    &:after {
                        content: " ";
                        position: absolute;
                        bottom: -3px;
                        left:0;
                        display: block;
                        height: 2px;
                        width: 100%;

                        background: #8eff56;
                    }
                }
            }
        }
    }
}

//modelder component style
//viewer
.viewer-document{
    .labelGroup {
        position: absolute;
        user-select: none;
        > .label{
            width:100%;
            height:100%;
            margin:0;
            padding:0;
            display:flex;
            .txt{
                padding: 14px 20px;
                font-weight:bold;
            }
        }
    }


    
    .remoteHost {
        .comp-wrap{width: 100%; height: 100%;padding: 14px 20px;}
		min-width: 150px;
		min-height: 100px;
		position: absolute;
		display: flex;
		flex-direction: column;

		.label {
            cursor:pointer;
            padding-bottom: 12px;
            .txt{
                display: block;
                width: 100%;
                height: 100%;
                text-align: left;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                svg{margin-right: 2px;}
            }
        }

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li + li {
				border-top: none !important;
            }
            
            //project
            li.deploy + li.deploy {
                margin-top: 4px;
            }

            li.deploy {
                overflow: hidden;
                .wrap-item {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px 16px;
                    user-select: none;
                    position: relative;
            
                    .left-cont {
                        display: flex;
                        align-items: center;
                        > span {
                            margin-right: 6px;
                        }
                    }
                }
            }
		}
    }    
    
}