
///viewer properties panels
.deploy-modeler-view-modal{
    &.remote-host-info-modal,
    &.project-info-modal{
        .link-item{
            &:hover{text-decoration: underline;}
            cursor: pointer;
        }

        .prop-list li+li{
            margin-top: 24px; 
        }
        .sub-tit{
            border-bottom: 1px solid #ccc;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 9px;
            display: block;
            padding-bottom: 4px;
            color: #333;
        }

        dl{
            margin: 1em 0;
            display:flex;
            flex:1;
            word-break: break-all;
            line-height: 1.5;
            dt{width: 90px; font-weight: bold;}
            dd{margin-inline-start: 40px;}
        }

    }
}


//editor properies panels
.deploy-modeler-editor-modal{
    //build comp
    .new-build-form {    
        .deploy-servers-item {
            .el-form-item__label {
                width: 100% !important;
            }
            .network-type-wrapper {
                .el-select {
                    width: 100%;
                }
            }
        }
    }

    //project pane
    &.project-prop-pane{        
        &.expand {
            .modal-panel {
                width: 820px !important;
            }
        
            .project-contents-wrapper {
                min-height: 100%;
                display: flex;
                > .normal-project-wrapper {
                    flex: 1;
                    .el-select {
                        width: 100% !important;
                    }
                }
        
                > .gap {
                    &:after {
                        content: "";
                        display: block;
                        border-left: 1px solid #cccccc;
                        height: 100%;
                        margin-left: 10px;
                    }
                }
        
                > .new-deploy-wrapper {
                    flex: 1;
                }
            }
        }
    }
    
    //remote host pane
    &.remote-host-pene{
        &.expand {
            .modal-panel {
                width: 820px !important;
            }
        
            .contents-wrapper {
                display: flex;
                .normal-remote-host-wrapper {
                    flex: 1;
                }
        
                .new-remote-host-wrapper {
                    flex: 1;
                }
                > .gap {
                    &:after {
                        content: "";
                        display: block;
                        border-left: 1px solid #cccccc;
                        height: 100%;
                        margin-left: 10px;
                    }
                }
            }
           
        }
    }
}