

ul,ol,li {margin: 0; padding: 0; list-style: none;}
*{margin:0;padding:0;}
.ellips {display: inline-block; text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.el-button + .el-button {margin-left: 4px;}
html {height: 100%;box-sizing: border-box;}
body {height: 100%;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility; font-family: "Nanum Gothic", "Malgun Gothic", Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif;font-size: 14px;}
#app {height: 100%;}
label { font-weight: 700;}
*,*:before,*:after {box-sizing: inherit;}
a,a:focus,a:hover {cursor: pointer;color: inherit;text-decoration: none;outline: none;}
hr{margin: 7px 0;}
.loading-icon {
 -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.title{color: $--field-label-color; font-weight: bold;}
.field-label, .field-label.el-checkbox{color: $--field-label-color; font-weight: bold;}
.field-group-title{color: #555; font-size: 18px; font-weight: bold;}
.page-title-sub{color:#555;}
.total-count{color:$--text-color-primary}
.no-searh-cont { font-size: 14px; margin-top: 10px; height: 300px;border: 1px dashed #cccccc; color: #333333; display: flex;align-items: center; justify-content: center;}
.no-data{font-size: 14px; color: #333333; display: flex;align-items: center; justify-content: center;}


//.group-list-title{color:$--color-primary}
//.project-list-title{color:$--color-primary}

i.table-ico{ display: inline-block; width: 18px;height: 18px; vertical-align: middle; background: url(/images/icons/table/table-ico-bgs.png) no-repeat 0px 0px;line-height: 0; font-size: 0;overflow: hidden;}
i.table-ico.folder {margin-right: 8px}
i.table-ico.file {background-position: -33px 0px;margin-right: 8px}
i.table-ico.user { width: 21px;height: 21px;background-position: 0 -55px;margin-right: 5px }
i.table-ico.member  { width: 21px;height: 21px;background-position: -35px -55px;margin-right: 5px}
i.table-ico.branch  { width: 21px;height: 21px;background-position: -70px -55px;margin-right: 5px}
i.table-ico.size  { width: 21px;height: 21px;background-position: -109px -55px;margin-right: 1px}
i.table-ico.days  { width: 21px;height: 21px;background-position: -146px -55px;margin-right: 5px}
i.table-ico.bname { width: 18px;height: 16px;background-position: 0px -30px;margin-right: 10px}
i.table-ico.code { width: 18px;height: 16px;background-position: -28px -30px;margin-right: 10px}
i.table-ico.groups {width: 28px;height: 28px;background-position: -217px 0;}
i.table-ico.project  {width: 22px;height: 20px;background-position: -179px -55px ;margin-right: 7px;}

.main-theme-color {color:$--color-primary;}
.strong {font-weight: 700;}
.link-button { cursor: pointer; user-select:none;}
.d-flex{display:flex;}
.flex-1{flex:1;}
.el-form .sub-description { bottom: 0; color: #aeaeae; }
.scroll-hidden{overflow:hidden !important;}
.gap{width: 15px;}
.padding-left-3{ padding-left:3px;}
.padding-right-3{padding-right:3px;}
/*************************************************
* 중복체크 버튼
*************************************************/
.duplicate-name-wrapper {
	display: flex;
	justify-content: space-between;
	flex:1;
	& > .el-input {
		flex: 1;
		margin-right: 4px;
	}
	& > .el-button {
		display: block;
		width: 164px;
	}
}

.connection-check-wrapper {
	display: flex;
	align-items: flex-end;
	>.check-field-wrap,
	> .el-select {
		flex: 1;
		margin-right: 5px;
	}

	.action-wrapper {
		width: 175px !important;
		.el-button {
			width:174px;
		}
	}
}

//뒤로가기
[data-comp-id=back-btn]{
	overflow:hidden;
	height:40px;
	background: #2b2f3a;
	font-size:14pt;
	color:#ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	cursor:pointer;
}

.change-pw-field-wrap{
	display:flex;
	.el-button{margin-left: 4px;}
}
